.introduction {
    padding: 13rem 0;
    height: 100vh;
}

.introduction__titlestack {
    display: flex;
    flex-direction: column;
    row-gap: .75rem;
    grid-column: 2 / span 13;
}

.introduction__description {
    grid-column: 15 / span 9;
}

.overall-image {
    height: 45rem;
    background-color: coral;
    color: var(--color--white);
    padding: 3.5rem 0;
    align-items: end;
    position: relative;
    overflow: hidden;
}

.overall-image>img {
    width: 100%;
    height: calc(100% + 4rem);
    /* height: 100%; */
    object-fit: cover;
    position: absolute;
    top: 0;
    bottom: 20rem;
    margin: auto 0;
    z-index: 1;
}

.overall-image__titlestack {
    display: flex;
    flex-direction: column;
    row-gap: .75rem;
    grid-column: 2 / span 4;
    z-index: 100;
}

.centered-image {
    padding: 15vw 0 25vw 0;
}

.centered-image__title {
    grid-column: 2 / span 7;
}

.centered-image__content {
    grid-column: 10 / span 14;
    display: flex;
    column-gap: 2rem;
}

.centered-image__imagebox {
    width: 65%;
    flex-shrink: 0;
    aspect-ratio: 3 / 2;
    background-color: coral;
    overflow: hidden;
    position: relative;
}

.centered-image img {
    height: calc(100% + 480px);
    /* object-fit: cover; */
    position: absolute;
    top: -200px;
    left: -240px;
}

.footer {
    height: 36rem;
    background-color: #0D0D0D;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.footer__titlestack {
    display: flex;
    flex-direction: column;
    row-gap: .75rem;
    grid-column: 2 / span 22;
    color: var(--color--white);
    z-index: 1;
}

.footer__titlestack p {
    line-height: var(--line-height--md);
}

/* Small Screen - - - - - - - - - - - - - - - - - - - - - */

@media (max-width:799px) {
    .introduction {
        padding: 0 3rem;
        gap: 1.5rem 0;
    }

    .introduction__titlestack,
    .introduction__description {
        grid-column: span 24;
    }

    .footer {
        height: auto;
        justify-items: center;
        padding-top: 3.5rem;
    }

    .footer__titlestack {
        grid-area: 1 / 3 / 2 / 23;
        order: 1;
    }

    .footer .heading {
        font-size: 1.25rem;
    }

    .footer p {
        font-size: var(--font-size--s);
        text-align: justify;
    }

    .footer img {
        position: relative;
        grid-area: 2 / 3 / 3 / 23;
        width: 72vw;
        order: 2;
    }

    .footer br {
        display: none;
    }
}